<!DOCTYPE html>
<title>Placeholder Image</title>
<style>body { font-family: sans-serif; margin: 2em 5em; } a { text-decoration: none; color: darkblue; } a img { border-style: none; margin: 5px; }</style>
@RenderBody()
